:root {
  --black100: #121212;

  --gray100: #818181;
  --gray200: #ececec;
  --white100: #fefefe;
  --white200: #e1e1e1;
  --accent100: #1c79e3;
  --accent200: #1cc5e3a8;
  --line: #2f5d62;
  --light: #d6472b;
}
