<script>
  window.APP_CONFIG = {
    MAPBOX_TOKEN: "{{ mapbox_token }}",
    DRAW_ZOOM_MIN: {{ draw_zoom_min }},
    DRAW_ZOOM_MAX: {{ draw_zoom_max }},
    BOUNDS: {{ bounds }},
  };
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/geo.js"></script>
<script src="/static/js/snapping.js"></script>
<script src="/static/js/render.js"></script>
<script src="/static/js/data.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/lists.js"></script>
<script src="/static/js/arrows.js"></script>
<script src="/static/js/events.js"></script>
