<aside class="sidebar">
  <div class="brand">
    <div class="brand-title">OpenUrbanMap</div>
    <div class="brand-sub">Ver 1.0</div>
  </div>
  <div class="panel">

    <!--Group-->
    <div class="layer-group">
      <div class="layer-group-title">Lines</div>
      <div id="lines-list" class="layer-list"></div>
    </div>

    <!--Group-->
    <div class="layer-group">
      <div class="layer-group-title">Traffic lights</div>
      <div id="lights-list" class="layer-list"></div>
    </div>

    
  </div>
</aside>
