<header class="toolbar">

  <!--Tools-->
  <div class="tool-action_buttons">
    <button id="tool-line" class="tool-button active" aria-label="Line">
      <img class="tool-icon" src="/static/icon/line.svg" alt="" />
    </button>
    <button id="tool-light" class="tool-button">
      <img class="tool-icon" src="/static/icon/traffic.svg" alt="" />
    </button>
  </div>

  <!--Export-->
  <div class="tool-actions">
    <button id="export-kmz" class="tool-button">KMZ</button>
    <button id="export-geojson" class="tool-button">GeoJSON</button>
    <button id="screenshot" class="tool-button">
      <img class="tool-icon" src="/static/icon/camera.svg" alt="" />
    </button>
  </div>
</header>
